
sudoku_puzzles/puzzles0_kaggle
sudoku_puzzles/puzzles1_unbiased
sudoku_puzzles/puzzles2_17_clue
sudoku_puzzles/puzzles3_magictour_top1465
sudoku_puzzles/puzzles4_forum_hardest_1905
sudoku_puzzles/puzzles5_forum_hardest_1905_11+
sudoku_puzzles/puzzles6_forum_hardest_1106
sudoku_puzzles/puzzles7_serg_benchmark
sudoku_puzzles/puzzles8_gen_puzzles
logs/
solutions/
